services:
  queue-api:
    container_name: queue-api
    image: queue-api:dev
    build:
      context: ./queue
      dockerfile: queue-api/Dockerfile
    environment:
      SPRING_DATA_REDIS_HOST: valkey
      SPRING_DATA_REDIS_PORT: 6379
      LOGGING_LEVEL_ROOT: INFO
      LOGGING_LEVEL_COM_LIKELION_QUEUEAPI: DEBUG
    depends_on:
      valkey:
        condition: service_started
    ports:
      - "8080:8080"
    networks:
      - queue-net
    healthcheck:
      test: ["CMD", "wget", "-qO-", "http://localhost:8080/actuator/health"]
      start_period: 10s
      interval: 30s
      timeout: 5s
      retries: 3

  queue-manager:
    container_name: queue-manager
    image: queue-manager:dev
    build:
      context: ./queue
      dockerfile: queue-manager/Dockerfile
    environment:
      SPRING_DATA_REDIS_HOST: valkey
      SPRING_DATA_REDIS_PORT: 6379
      LOGGING_LEVEL_ROOT: INFO
      LOGGING_LEVEL_COM_LIKELION_QUEUEMANAGER: DEBUG
    depends_on:
      valkey:
        condition: service_started
    networks:
      - queue-net
    healthcheck:
      test: ["CMD", "wget", "-qO-", "http://localhost:8081/actuator/health"]
      start_period: 10s
      interval: 30s
      timeout: 5s
      retries: 3

  chat-server:
    container_name: chat-server
    image: chat-server:dev
    build:
      context: ./chat-server
      dockerfile: Dockerfile
    environment:
      ConnectionStrings__Valkey: "valkey:6379"
      ASPNETCORE_ENVIRONMENT: "Development"
    ports:
      - "8081:8080"
    networks:
      - queue-net

  valkey:
    image: valkey/valkey:8
    command: ["valkey-server", "--appendonly", "yes"]
    networks:
      - queue-net

  valkey-dashboard:
    container_name: valkey-dashboard
    image: redis/redisinsight:latest
    depends_on:
      valkey:
        condition: service_started
    environment:
      RI_ACCEPT_TERMS_AND_CONDITIONS: true
      RI_DATABASE_MANAGEMENT: false
      RI_REDIS_HOST: valkey
      RI_REDIS_PORT: 6379
    ports:
      - "8082:5540"
    networks:
      - queue-net

networks:
  queue-net:
    driver: bridge
