name: CI-CD

on:
  push:
    branches: ["main"]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: ECR Login
        id: ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build & Push Image
        env:
          REGISTRY: ${{ steps.ecr.outputs.registry }}
          REPO: ${{ secrets.ECR_REPOSITORY }}
        run: |
          IMAGE=$REGISTRY/$REPO:latest
          docker build -t $IMAGE -f ./queue/queue-manager/Dockerfile .
          docker push $IMAGE

      - name: Update kubeconfig
        run: |
          aws eks update-kubeconfig \
            --name ${{ secrets.K8S_CLUSTER_NAME }} \
            --region ${{ secrets.AWS_REGION }}

      - name: Update Deployment Image in EKS
        env:
          REGISTRY: ${{ steps.ecr.outputs.registry }}
          REPO: ${{ secrets.ECR_REPOSITORY }}
        run: |
          IMAGE=$REGISTRY/$REPO:latest
          kubectl set image deployment/queue-manager queue-manager=$IMAGE
          kubectl rollout status deployment/queue-manager
